.DS_Store

.circleci
.github
.husky

.editorconfig

.eslintignore
.eslintrc

.gitattributes
.gitignore

# NPM
.npmignore
.npmrc
.npm

# NVM
.nvmrc

# Babel
babel.config.*

# Deps
.depsrc

# Hooks
.husky/hooks

# Test
/test
